#sidebar{
	height: 100%;
	width: 150px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	border-right: 1px black solid;
	padding-top: 40px;
	padding-left: 15px;
	padding-right: 15px;
	overflow-x: hidden;
}

#sidebar h2{
	margin: 0;
}

#sidebar h2 a{
	text-decoration: none;
	color: black;
}

#notsidebar{
	margin-left: 172px;
}

#header{
	width: 100%;
	height: 50px;
	text-align: center;
	border-bottom: 1px solid black;
	z-index: 1;
	overflow-x: hidden;
}

#header h1{
	margin: 0;
}

#content{
	padding-left: 400px;
	padding-right: 400px;
	padding-top: 25px;
}

.aligncenter{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}